__pycache__/
data/acm.pkl
data/acm.txt
data/acm_label.txt
data/cite.pkl
data/cite.txt
data/cite_label.txt
data/dblp.pkl
data/dblp.txt
data/dblp_label.txt
data/hhar.pkl
data/hhar.txt
data/hhar_label.txt
data/reut.pkl
data/reut.txt
data/reut_label.txt
data/usps.pkl
data/usps.txt
data/usps_label.txt
graph
SDCN.pdf
SDCN-CN.pdf